body{
    background-color: lightgrey;
    margin-top: 50px;
    padding-top: 50px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    text-align: center

}

h3{
    display: inline;
    text-align: center;
}
a{
    text-align: center;
    color: black;
}

div{
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    
}
.education{
    text-align: right;

}
li {
    text-align: left;
}
il {
    border-right: 2px solid black;
    text-decoration: underline;
}